<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="/css/styles-login.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <style>
        h5{
            font-weight: 500; 
            color: rgb(65, 65, 65);
            font-size: 17px;
        }
    </style>

    <title>Change Password</title>
</head>
<body>

    <form class="form-signin" action="/changePassword" method="post">

        
        
        <% if(typeof err != 'undefined') {%>
          <div id="error-msg">
            <div class="alert alert-dismissible alert-danger">
              <button type="button" onclick="crossClicked()" class="close" data-dismiss="alert">&times;</button>
              <strong><%= err %></strong>
            </div>
          </div>
        <% } %>
          
        <br>

        <h5 class="top">Enter existing password :</h5>
        <div class="relative"> 
          <label for="oldpassword" class="sr-only">Old Password</label>
          
          <input type="password" id="oldpassword" class="form-control" placeholder="Old Password" required="true" name="oldpassword">
          <i class="far fa-eye" id="togglePassword1"></i>
        </div>
        <br>
        <h5>Enter new password :</h5>
        <div class="relative"> 
            <label for="newpassword" class="sr-only">New Password</label>
            <input type="password" id="newpassword" class="form-control" placeholder="New Password" required="true" name="newpassword">
            <i class="far fa-eye" id="togglePassword2"></i>
          </div>

          <div class="relative"> 
            <label for="cnewassword" class="sr-only">Confirm New Password</label>
            <input type="password" id="cnewpassword" class="form-control" placeholder="Confirm New Password" required="true" name="cnewpassword">
            <i class="far fa-eye" id="togglePassword3"></i>
          </div>
        
        
        <div class="checkbox mb-3">
          <!--
          <label>
            <input type="checkbox" value="Remember me"> Remember me
          </label> -->
        </div>
       

        <button class="btn btn-lg btn-secondary" id="sub-btn" type="submit">Change</button>

      </form>


      <script>

        function crossClicked(){
        var error=document.getElementById("error-msg");
        error.innerHTML="";
        }



        const togglePassword1 = document.querySelector('#togglePassword1');
        const opassword = document.querySelector('#oldpassword');

        togglePassword1.addEventListener('click', function (e) {
            const type = opassword.getAttribute('type') === 'password' ? 'text' : 'password';
            opassword.setAttribute('type', type);
            this.classList.toggle('fa-eye-slash');
        });

        const togglePassword2 = document.querySelector('#togglePassword2');
        const npassword = document.querySelector('#newpassword');

        togglePassword2.addEventListener('click', function (e) {
            const type = npassword.getAttribute('type') === 'password' ? 'text' : 'password';
            npassword.setAttribute('type', type);
            this.classList.toggle('fa-eye-slash');
        });

        const togglePassword3 = document.querySelector('#togglePassword3');
        const cnpassword = document.querySelector('#cnewpassword');

        togglePassword3.addEventListener('click', function (e) {
            const type = cnpassword.getAttribute('type') === 'password' ? 'text' : 'password';
            cnpassword.setAttribute('type', type);
            this.classList.toggle('fa-eye-slash');
        });

      </script>

</body>
</html>
