<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/styles-tasklist.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <title>Perform Task</title>
</head>
<body>

    <div id="tasklist"> 

        <% var i=1; %>
        <% for(var i=1;i<=sentlistlength;i++){ %>
            <div class="task">
                <a href="/task/<%= taskid %>/<%= (i-1) %>"><button type="button" class="btn btn-secondary">Sentence <%= i %></button></a>
            </div>
        <% } %>
        
    </div>
    
    
    
    <script>
        console.log("hii");
        
    </script>
   
</body>
</html>
